<div class="roster">
  <header>
    <h2>Volunteers</h2>
    <img class="lockIcon" src="./assets/lock.png" *ngIf="locked" title="Scheduling is currently locked." />
  </header>
  <ul>
    <div *ngIf="volunteers.length == 0" class="opacity centerText">
      Nobody's signed up yet.
    </div>
    <ng-container *ngFor="let person of volunteers">
      <li [ngClass]="{'locked' : locked}">
        <table>
          <tr>
            <td width="10%">
              <span title="Click to deselect for work" *ngIf="person.selected == true"><img class="smallIcon pointer" src="./assets/checkbox.png" (click)="toggleWorking(person)"/></span>
              <span title="Click to select for work" *ngIf="person.selected == false"><img class="smallIcon pointer" src="./assets/checkbox-empty.png" (click)="toggleWorking(person)" /></span>
            </td>
            <td width="40%"><span>{{ person.name }}</span></td>
            <td width="30%">
              <span *ngIf="person.when == 'BEFORE'">Before Service</span>
              <span *ngIf="person.when == 'AFTER'">After Service</span>
              <span *ngIf="person.when == 'BOTH'">Before & After</span>
            </td>
            <td width="10%" class="centerText" *ngIf="person.when != 'BOTH'">
              <span class="iconFiller" *ngIf="person.when == 'AFTER'">&nbsp;</span>
              <span *ngIf="person.role1 == 'RANGE'" title="Range Captain"><img class="smallIcon" src="./assets/target.png" /></span>
              <span *ngIf="person.role1 == 'DESK'" title="Check In Deck"><img class="smallIcon" src="./assets/pen.png" /></span>
              <span class="iconFiller" *ngIf="person.when == 'BEFORE'">&nbsp;</span>
            </td>
            <td width="10%" class="centerText" *ngIf="person.when == 'BOTH'">
              <span *ngIf="person.role1 == 'RANGE'" title="Range Captain"><img class="smallIcon" src="./assets/target.png" /></span>
              <span *ngIf="person.role1 == 'DESK'" title="Check In Deck"><img class="smallIcon" src="./assets/pen.png" /></span>
              <!--<span>|</span>-->
              <span *ngIf="person.role2 == 'RANGE'" title="Range Captain"><img class="smallIcon" src="./assets/target.png" /></span>
              <span *ngIf="person.role2 == 'DESK'" title="Check In Deck"><img class="smallIcon" src="./assets/pen.png" /></span>
            </td>
            <td width="10%" class="centerText"><span title="Delete"><img class="smallIcon pointer" src="./assets/trash.png" (click)="delete(person)"/></span></td>
          </tr>
        </table>
      </li>
    </ng-container>
  </ul>
  <div class="controlBlock">
    <button (click)="openAuth()" *ngIf="locked" class="secondaryButton">Log In</button>
    <button (click)="logOut()" *ngIf="!locked" class="secondaryButton">Log Out</button>
    <button (click)="edit()">Sign Up</button>
  </div>
</div>
