.rosterEdit {
  background: #ffffff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 500;
}

.rosterEditContent {
  z-index: 600;
  position: fixed;
  background: #ffffff;
}

@media (min-width: 901px) {
  .rosterEditContent {
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
  }
}

@media (max-width: 900px) {
  .rosterEditContent {
    top: 5%;
    left: 15px;
    width: calc(100% - 30px);
    height: 90%;
    overflow-y: auto;
  }
}

.rosterEdit .rosterEditContent h2 {
  width: 100%;
  text-align: center;
}

.formSection {
  padding: 20px;
}

.formSection .title {
  margin-bottom: 10px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked +label {
  background: blue;
}

.controlBlock {
  position: absolute;
  bottom: 0;
}
